@model SzPEK.Models.ParticipateCourseIdViewModel

@{
    ViewData["Title"] = "Akceptujesz?";
}

<h2>Czy zaakceptować?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imie
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Adres E-mail
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <form asp-action="Accept">
        <input type="hidden" asp-for="ParticipateID"/>
        <input type="hidden" asp-for="CourseID"/>
        <input type="submit" value="Tak" class="btn btn-default" /> |
        <a asp-action="Index">Powrót</a>
    </form>
</div>